<div ng-include="'components/page-header/page-header.html'"></div>

<div class="marg-fix header-margin-offset body-min-height">
  <div class="row" ng-repeat="lecture in lectures">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 presentation-view" style="">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="position:relative;">
        <h3 class="" style="margin:.2em 0 0;">{{lecture.title}}
          <a href="#" ng-click="openUpdateModal(lecture._id)" class="text-warning">
            <i class="fa fa-pencil fa"></i>
          </a>
          <a href="#" ng-if="isMyLecture(lecture.author._id)" ng-click="openDeleteModal(lecture)" class="trash" style="font-size:.6em;">
            <span class="fa-stack pull-right">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-trash fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="#" ng-if="!isMyLecture(lecture.author._id)" ng-click="openRequestDeleteLectureModal(lecture)" class="trash" style="font-size:.6em;">
            <span class="fa-stack pull-right">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-chain-broken fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </h3>

        <hr class="lecture-title-hr">
        <h5 class="">Author:
          <a href="#" class="text-primary">{{lecture.author.name}}</a>
        </h5>
        <h5 class="" ng-if="!_.isEmpty(lecture.collaborators)">Collaborators:
          <a href="#" class="text-primary" ng-repeat="collab in lecture.collaborators">{{collab.user.name}}
            <span ng-if="!$last">,</span>
          </a>
        </h5>
        <div style="position:absolute;bottom:-3em;left:.8em;" ng-if="!_.isEmpty(lecture.attachments)">
          <h5 ng-repeat="item in lecture.attachments" tooltip="{{item.filename}}" tooltip-trigger tooltip-animation="false" tooltip-placement="top" style="margin:0 .4em;text-decoration:none;display:inline-block;">
            <i class="fa fa-{{item.type}}-o fa-2x"></i>
          </h5>
        </div>
      </div>
    </div>
    <div ng-if="!$last" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin:2em 0;">
      <hr class="resource-hr">
    </div>
  </div>
</div>
<!-- FOOTER -->
<div ng-include="'components/footer/footer.html'"></div>
<!-- /FOOTER -->