.lecture-modal-preview {
  border: 2px solid #2E3540;
  height: 400px;
  width: 400px;
  background-color: lighten(#8DB7D2,14%);
}
.lecture-modal-preview h4 {
  width: 100%;
  text-align: center;
  margin: 9.14em 0;
}
.lecture-modal-preview-mini {
  height: 200px;
  width: 100%;
  border: 2px solid #343D48;
  margin: 1em 0 2em;
  background-color: lighten(#8DB7D2,14%);
}
.tooltip-inner {
  max-width: 350px;
  word-wrap: break-word;
}