<div class="container-fluid">
  <div class="row">
    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-class="{ 'has-success': form.name.$valid && submitted,'has-error': form.name.$invalid && submitted }">
      <label>Title</label>
      <input type="text" name="name" class="form-control" ng-model="form.lesson.title" placeholder="My Lesson" md-autofocus required mongoose-error>
      <p class="help-block" ng-show="form.name.$error.required && submitted">Lesson must have a name</p>
      <p class="help-block" name="titleVal" ng-show="form.name.$error.mongoose">{{ errors.name }}</p>
    </div>
    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" style="clear:left;" ng-class="{ 'has-success': form.createdBy.$valid && submitted,'has-error': form.createdBy.$invalid && submitted }">
      <label>Type</label>
      <md-select ng-model="form.lesson.type" placeholder="Select one" class="md-no-underline" style="margin-top:5px;margin-bottom:10px;">
        <md-option ng-value="type" ng-repeat="type in lessonTypes">{{ type }}</md-option>
      </md-select>
      <p class="help-block" ng-show="form.createdBy.$error.required && submitted">Something was not right there.</p>
      <p class="help-block" name="createdByVal" ng-show="form.createdBy.$error.mongoose">{{ errors.createdBy }}</p>
    </div>
    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-if="form.lesson.type == 'URL'" ng-class="{ 'has-success': form.createdBy.$valid && submitted,'has-error': form.createdBy.$invalid && submitted }">
      <label>URL</label>
      <div class="input-group input-group-md">
        <span class="input-group-addon" id="sizing-addon1">http://</span>
        <input type="text" class="form-control" placeholder="www.myslideshow.com" aria-describedby="sizing-addon1" ng-model="form.lesson.url" ng-blur="genPreview()" mongoose-error>
      </div>
      <p class="help-block" ng-show="form.createdBy.$error.required && submitted">Something was not right there.</p>
      <p class="help-block" name="createdByVal" ng-show="form.createdBy.$error.mongoose">{{ errors.createdBy }}</p>
    </div>
    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-class="{'has-success': form.desc.$valid && submitted,'has-error': form.desc.$invalid && submitted }">
      <label>Lecture Description</label>
      <textarea class="form-control" name="desc" rows="2" ng-model="form.lesson.desc" style="max-height:140px;max-width:100%;" placeholder="optional" required mongoose-error></textarea>
      <p class="help-block" ng-show="form.desc.$error.required && submitted">Lecture must have a description</p>
      <p class="help-block" name="descVal" ng-show="form.desc.$error.mongoose">{{ errors.desc }}</p>
    </div>
    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-class="{ 'has-success': form.qActAllowance.$valid && submitted,'has-error': (form.qActAllowance.$invalid && submitted) || (form.qActAllowance < 0) || (form.qActAllowance > 60) }">
      <label>Collaborators</label>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="e.g. Brian Smith" ng-model="form.lesson.collaborator" typeahead="tutor as tutor.name for tutor in possibleCollaborators | filter:{name:$viewValue} | limitTo:10" typeahead-on-select="searchPossibleCollaborators($item)" ng-keyup="searchPossibleCollaborators($event)">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default" style="border-color:#cccccc;" ng-click="searchPossibleCollaborators('Submit')">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
      <div style="margin-top:.4em;">
        <h3 ng-repeat="user in selectedCollaborators" class="label label-warning" style="display:inline-block;font-size:.9em;margin:.2em .4em .2em 0;padding:.6em;">
          {{user.name}}
          <a style="color:#343D48;" href="#" ng-click="removeCollaborator(user)">
            <i class="fa fa-times" style="margin-left:.4em;"></i>
          </a>
        </h3>
      </div>
      <p class="help-block" ng-show="(form.qActAllowance.$error.minlength || form.qActAllowance.$error.required) && (form.qActAllowance < 0) || (form.qActAllowance > 60) && submitted">Must be between 0 and 60</p>
      <p class="help-block" ng-show="form.qActAllowance.$error.mongoose">{{ errors.qActAllowance }}</p>
    </div>
    <form>
      <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-class="{ 'has-success': form.qActAllowance.$valid && submitted,'has-error': (form.qActAllowance.$invalid && submitted) || (form.qActAllowance < 0) || (form.qActAllowance > 60) }">
        <label>Attachments
          <span style="color:#bbb;">(max: 10 files)</span>
        </label>
        <button action="/api/lessons/" autoprocessdz="'false'" dz-type="'lesson'" class="dropzone" drop-zone call-back="uploadSuccess(response)" name="lessonFiles" data-max="5" mimetypes="'.ppt, .html, .docx, .pdf, .xlsx, .txt, .zip, .jpg, .png'" id="csv-dropzone" style="width:100%;border:1px dashed #CCC; background-color:#FFF;" multiple>
          <div class="dz-message" style="font-size:1.4em;color:#343D48;">Drop files here or click to upload.
            <br>
            <span class="note" style="font-size:.6em;">
              <strong>(Allowed file types: .ppt, .jpg, .png, .html, .docx, .pdf, .xlsx, .txt, .zip)</strong>
            </span>
          </div>
        </button>
      </div>
    </form>
  </div>
</div>