// Colors
// --------------------------------------------------

@btnText:                           #fff;
@btnTextAlt:                        #000;

.loginCont{

	padding:0em;
}

@media (min-width: 768px) {
	.loginCont{
		padding:3em 0 5em;
	}

	.vertical-offset-100{
	    padding-top:100px;
	}
}
