<footer class="text-center footer" ng-controller="NavbarCtrl">
  <!--<p class="pull-right"><a href="#">Back to top</a></p>-->
  <h1>UniQA</h1>
  <div class="split-hr">
    <span><img class="rotate" src="assets/images/house.png"/></span>
  </div>
  <h2 style="margin-right:.2em;">
    <a ng-href="/about">UniQA &copy; 2016</a>
  </h2>
  <h2 style="color:#FFA700">•</h2>
  <h2 style="margin-left:.2em;">
    <a href="https://www.facebook.com/joshua.bates.3701" target="_blank">Joshua Bates</a>
  </h2>
</footer>