body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}
body {
  -webkit-overflow-scrolling: touch;
}
.wrapper {
  padding-left: 0;
  overflow-x: hidden;
}
.sidebar-wrapper,
.sidebar-wrapper-min {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  background-color: lighten(#343D48,6%);
  border-right: 1px solid lighten(#343D48,2%);
}
.sidebar-wrapper-min {
  left: 56px;
  margin-left: -56px;
}
.sidebar-wrapper {
  width: 250px;
  position: absolute;
}
.page-content-wrapper {
  // overflow-y: scroll;
  position: absolute;
  height: 100%;
  width: 100%;
  margin-right: -250px;
}
.page-content-wrapper::-webkit-scrollbar {
  display: none;
}
.no-pad {
  padding: 0 !important;
}
.no-marg {
  margin: 0 !important;
}
.pad-fix {
  padding: 0 15px;
}
.marg-fix {
  margin: 0 15px;
}
.header-margin-offset {
  margin-top: 70px;
}
.body-min-height {
  min-height: 600px;
}
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
// @media only screen and (min-width : 320px) {
//   .sidebar-wrapper {
//     position: absolute;
//     width: 150px;
//   }
//   .sidebar-wrapper-min {
//     width: 56px;
//   }
//   .wrapper {
//     padding-left: 150px;
//   }
//   .wrapper-min {
//     padding-left: 56px;
//   }
//   .page-content-wrapper {
//     position: relative;
//     margin-right: 0;
//   }
// }
/* Extra Small Devices, Phones */
// @media only screen and (min-width : 480px) {
//   .sidebar-wrapper {
//     position: absolute;
//     width: 200px;
//   }
//   .sidebar-wrapper-min {
//     width: 56px;
//   }
//   .wrapper {
//     padding-left: 200px;
//   }
//   .wrapper-min {
//     padding-left: 56px;
//   }
//   .page-content-wrapper {
//     position: relative;
//     margin-right: 0;
//   }
// }
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .sidebar-wrapper {
    position: absolute;
    width: 250px;
  }
  .sidebar-wrapper-min {
    width: 56px;
  }
  .wrapper {
    padding-left: 250px;
  }
  .wrapper-min {
    padding-left: 56px;
  }
  .page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
  .sidebar-brand {
    cursor: pointer;
    border-bottom: 1px solid lighten(#343D48,3%);
    color: white;
    padding: 0.8em 1em 0.2em 1.4em;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {}
/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .sidebar-wrapper {
    position: absolute;
    width: 250px;
  }
  .sidebar-wrapper-min {
    width: 56px;
  }
  .wrapper {
    padding-left: 250px;
  }
  .wrapper-min {
    padding-left: 56px;
  }
  .page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
  .sidebar-brand {
    cursor: pointer;
    border-bottom: 1px solid lighten(#343D48,3%);
    color: white;
    padding: 0.8em 1em 0.2em 1.4em;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .sidebar-wrapper {
    position: absolute;
    width: 200px;
  }
  .sidebar-wrapper-min {
    width: 56px;
  }
  .wrapper {
    padding-left: 200px;
  }
  .wrapper-min {
    padding-left: 56px;
  }
  .page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
  .sidebar-brand {
    cursor: pointer;
    border-bottom: 1px solid lighten(#343D48,3%);
    color: white;
    padding: 0.8em 1em 0.2em 0.65em;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
  }
}
.resource-state-picker {
  background-color: #EEEEEE;
  padding-top: 1em;
  text-align: center;
}
.resource-state-picker a {
  cursor: pointer;
  font-size: 1.3em;
  color: #AAA;
  display: inline-block;
  margin-left: 0.4em;
  margin-right: 0.4em;
  margin-bottom: 0;
  padding-bottom: 14px;
}
.resource-state-picker a:hover {
  text-decoration: none;
}
.resource-state-picker a.active {
  padding-bottom: 0.8em;
  color: black;
  -webkit-box-shadow: inset 0 -3px 0 #82AECC;
  box-shadow: inset 0 -3px 0 #82AECC;
}
/* Small Devices, Tablets */
// @media only screen and (max-width : 768px) {
//   .sidebar-wrapper {
//     position: absolute;
//     width: 175px;
//   }
//   .sidebar-wrapper-min {
//     width: 56px;
//   }
//   .wrapper {
//     padding-left: 175px;
//   }
//   .wrapper-min {
//     padding-left: 56px;
//   }
//   .page-content-wrapper {
//     position: relative;
//     margin-right: 0;
//   }
// }
/* Extra Small Devices, Phones */
// @media only screen and (max-width : 480px) {
//   .sidebar-wrapper {
//     position: absolute;
//     width: 150px;
//   }
//   .sidebar-wrapper-min {
//     width: 56px;
//   }
//   .wrapper {
//     padding-left: 150px;
//   }
//   .wrapper-min {
//     padding-left: 56px;
//   }
//   .page-content-wrapper {
//     position: relative;
//     margin-right: 0;
//   }
// }
/* Custom, iPhone Retina */
// @media only screen and (max-width : 320px) {
//   .sidebar-wrapper {
//     position: absolute;
//     width: 100px;
//   }
//   .sidebar-wrapper-min {
//     width: 56px;
//   }
//   .wrapper {
//     padding-left: 100px;
//   }
//   .wrapper-min {
//     padding-left: 56px;
//   }
//   .page-content-wrapper {
//     position: relative;
//     margin-right: 0;
//   }
// }