body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}
body {
  -webkit-overflow-scrolling: touch;
}
// body::-webkit-scrollbar {
//   // -webkit-appearance: none;
//   z-index: 1000;
// }
// body::-webkit-scrollbar-thumb {
//   background-color: rgba(50, 50, 50, .5);
//   border: 3px solid transparent;
//   border-radius: 9px;
//   background-clip: content-box;
//   z-index: 1000;
// }
// body::-webkit-scrollbar-track {
//   background-color: rgba(100, 100, 100, .5);
//   width: 10px;
//   z-index: 1000;
// }
.wrapper {
  padding-left: 0;
}
.sidebar-wrapper,
.sidebar-wrapper-min {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  background-color: lighten(#343D48,6%);
  border-right: 1px solid lighten(#343D48,2%);
}
.sidebar-wrapper-min {
  left: 56px;
  margin-left: -56px;
}
.sidebar-wrapper {
  width: 250px;
  position: absolute;
}
.page-content-wrapper {
  // overflow-y: scroll;
  position: absolute;
  height: 100%;
  width: 100%;
  margin-right: -250px;
}
.page-content-wrapper::-webkit-scrollbar {
  display: none;
}
@media(min-width:768px) {
  .sidebar-wrapper {
    position: absolute;
    width: 250px;
  }
  .sidebar-wrapper-min {
    width: 56px;
  }
  .wrapper {
    padding-left: 250px;
  }
  .wrapper-min {
    padding-left: 56px;
  }
  .page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
.no-pad {
  padding: 0 !important;
}
.no-marg {
  margin: 0 !important;
}
.pad-fix {
  padding: 0 15px;
}
.marg-fix {
  margin: 0 15px;
}
.header-margin-offset {
  margin-top: 70px;
}