body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}
body {
  -webkit-overflow-scrolling: touch;
}
.main-container {
  transition: width 0.6s;
  -webkit-transition: all 0.6s;
}
.wrapper {
  padding-left: 0;
  overflow-x: hidden;
}
.sidebar-wrapper-min {
  width: 58px;
  min-width: 58px;
}
.sidebar-wrapper {
  height: 100%;
  background-color: #F5F5F5;
  border-right: 1px solid #DDD;
  box-shadow: none;
  width: 230px;
  min-width: 230px;
  transition: width 0.6s;
  -webkit-transition: all 0.6s;
}
.page-content-wrapper::-webkit-scrollbar {
  display: none;
}
.no-pad {
  padding: 0 !important;
}
.no-marg {
  margin: 0 !important;
}
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
// @media only screen and (min-width : 320px) {
//   .sidebar-wrapper {
//     position: absolute;
//     width: 150px;
//   }
//   .sidebar-wrapper-min {
//     width: 58px;
//   }
//   .wrapper {
//     padding-left: 150px;
//   }
//   .wrapper-min {
//     padding-left: 56px;
//   }
//   .page-content-wrapper {
//     position: relative;
//     margin-right: 0;
//   }
// }
/* Extra Small Devices, Phones */
// @media only screen and (min-width : 480px) {
//   .sidebar-wrapper {
//     position: absolute;
//     width: 200px;
//   }
//   .sidebar-wrapper-min {
//     width: 58px;
//   }
//   .wrapper {
//     padding-left: 200px;
//   }
//   .wrapper-min {
//     padding-left: 56px;
//   }
//   .page-content-wrapper {
//     position: relative;
//     margin-right: 0;
//   }
// }
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .sidebar-wrapper {
    height: 100%;
    background-color: #F5F5F5;
    border-right: 1px solid #DDD;
    box-shadow: none;
    height: 100%;
    width: 230px;
    min-width: 230px;
  }
  .sidebar-wrapper-min {
    width: 58px;
    min-width: 58px;
  }
  .page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
  .sidebar-brand {
    cursor: pointer;
    color: white;
    margin-left: 0.2em;
    text-align: center;
    padding: 1em 0;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {}
/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .sidebar-wrapper {
    height: 100%;
    background-color: #F5F5F5;
    border-right: 1px solid #DDD;
    box-shadow: none;
    height: 100%;
    width: 230px;
    min-width: 230px;
  }
  .sidebar-wrapper-min {
    width: 58px;
    min-width: 58px;
  }
  .page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
  .sidebar-brand {
    cursor: pointer;
    color: white;
    margin-left: 0.2em;
    text-align: center;
    padding: 0.2em 0;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
  }
}
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {}
.resource-state-picker {
  background-color: #FAFAFA;
  padding-top: 1em;
  text-align: center;
}
.resource-state-picker a {
  cursor: pointer;
  font-size: 1.3em;
  color: #AAA;
  display: inline-block;
  margin-left: 0.4em;
  margin-right: 0.4em;
  margin-bottom: 0;
  padding-bottom: 14px;
}
.resource-state-picker a:hover {
  text-decoration: none;
}
.resource-state-picker a.active {
  padding-bottom: 0.8em;
  color: black;
  -webkit-box-shadow: inset 0 -3px 0 #82AECC;
  box-shadow: inset 0 -3px 0 #82AECC;
}
.body-min-height {
  min-height: 600px;
}
/* Small Devices, Tablets */
// @media only screen and (max-width : 768px) {
//   .sidebar-wrapper {
//     position: absolute;
//     width: 175px;
//   }
//   .sidebar-wrapper-min {
//     width: 58px;
//   }
//   .wrapper {
//     padding-left: 175px;
//   }
//   .wrapper-min {
//     padding-left: 56px;
//   }
//   .page-content-wrapper {
//     position: relative;
//     margin-right: 0;
//   }
// }
/* Extra Small Devices, Phones */
// @media only screen and (max-width : 480px) {
//   .sidebar-wrapper {
//     position: absolute;
//     width: 150px;
//   }
//   .sidebar-wrapper-min {
//     width: 58px;
//   }
//   .wrapper {
//     padding-left: 150px;
//   }
//   .wrapper-min {
//     padding-left: 56px;
//   }
//   .page-content-wrapper {
//     position: relative;
//     margin-right: 0;
//   }
// }
/* Custom, iPhone Retina */
// @media only screen and (max-width : 320px) {
//   .sidebar-wrapper {
//     position: absolute;
//     width: 100px;
//   }
//   .sidebar-wrapper-min {
//     width: 58px;
//   }
//   .wrapper {
//     padding-left: 100px;
//   }
//   .wrapper-min {
//     padding-left: 56px;
//   }
//   .page-content-wrapper {
//     position: relative;
//     margin-right: 0;
//   }
// }