<div ng-include="'components/navbar/navbar.html'"></div>

<div class="page-sub-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-med-4 col-lg-2 ">
        <h1>Group Management</h1>
      </div>
      <div class="col-sm-3 col-med-3 col-lg-3 ">
        <form id="search-form" class="form-inline" role="form" method="post">
          <div class="input-group">
            <input type="text" class="form-control search-form" placeholder="Search" ng-keyup="searchStrFilter($event)" ng-model="filter.searchStr">
            <span class="input-group-btn" style="position:relative;">
              <button type="submit" class="btn btn-primary search-btn" data-target="#search-form" name="q">
                <span style="" class="glyphicon glyphicon-search"></span>
              </button>
              <!-- <a ng-click="clearSearchFilter($event)" ng-class="{ 'disable-custom-filter': clearedFilter.dropdown, 'custom-filter': !clearedFilter.dropdown }" class="glyphicon glyphicon-remove pull-right"></a> -->
            </span>
          </div>
        </form>
      </div>
      <div class="col-sm-4 col-med-4 col-lg-4 pull-right text-center">
        <div class="col-sm-4 col-med-4 col-lg-4 pull-right">
          <button type="button" class="btn btn-success dropdown-toggle page-sub-header-btn" ng-click="openCreateUserModal()">Create Group</button>
        </div>
        <div class="sub-menu-divider-vertical pull-right"></div>
        <div class="col-sm-4 col-med-4 col-lg-4 pull-right">
          <button class="btn btn-primary pull-right page-sub-header-btn" ng-click="refreshUserList('btn')">
            <span class="glyphicon glyphicon-refresh rotate"></span>
            Refresh</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row" style="margin-top:1em;padding-bottom:1.4em;border-bottom:2px dotted #8CB7D3;">
    <div class="col-sm-4 col-med-4 col-lg-4 user-filter text-center">
      <h5 class="text-left">Filter</h5>
      <!-- <div class="btn-group " role="group" aria-label="...">
        <button ng-repeat="(key,value) in filter.role" type="button" style="text-transform: capitalize;" class="btn btn-default" ng-class="{active: value}" ng-click="userRoleFilterToggle(key)">{{key}}</button>
      </div> -->
    </div>
    <div class="col-sm-4 col-med-4 col-lg-4 user-filter text-center">
      <h5 class="text-left">Filter</h5>
      <div class="sliderExample">
        <p style="margin-bottom:-10px;"></p><br>
      </div>
    </div>
    <div class="col-sm-4 col-med-4 col-lg-4 user-filter">
      <h5 class="text-left">Member of...</h5>
      <div class="dropdown reg-dropdown" style="position:relative;">
        <button class="btn btn-inverse dropdown-toggle form-control" name="department" type="button" data-toggle="dropdown">{{filter.department}}
          <span class="caret"></span>
        </button>
        <a ng-click="clearDepFilter($event)" ng-class="{ 'disable-custom-filter': clearedFilter.dropdown, 'custom-filter': !clearedFilter.dropdown }" class="glyphicon glyphicon-remove pull-right"></a>
        <ul class="dropdown-menu scrollable-menu" role="menu" style="overflow:hidden;">
          <li ng-repeat="(key,val) in departments">
            <a class="dropdown-header disabled dropdown-header-custom" ng-click="$event.stopPropagation()">{{key}}</a>
            <a ng-repeat="subVals in departments[key]" ng-click="depDropdownSel(subVals)">{{departments[key][$index]}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="warnings">
      <!-- <div class="alert alert-warning" role="alert">
        <a href="#" class="alert-link">You have entered an incorrect attribute</a>
      </div> -->
      <div class="alert alert-danger" role="alert" ng-if="noFiltQueryReturn">
        <p href="" class="alert-link">Query returned no results</p>
      </div>
    </div>
  </div>
  <div class="row" ng-if="isEmpty(deps)">
    Add Something
  </div>
  <div class="col-xs-12 col-sm-12 col-med-4 col-lg-4 pull-left" ng-repeat="dep in deps">
    <h2 class="text-muted">{{dep.name}}</h2>
    <div class="panel panel-default" ng-repeat="subdep in dep.subdepartment">
      <div class="panel-heading clearfix">
        <strong>{{subdep.name}}</strong>
      </div>
      <!-- <div class="panel-heading clearfix"></div> -->
      <div ng-if="!isEmpty(subdep.groups)">
        <div ng-repeat="group in subdep.groups">
          <table class="table table-striped">
            <thead>
              <tr style="border-bottom:0px solid #ddd;">

                <div style="position:relative;">
                  <h5 style="width:100%;border-bottom:0;padding-left:6px;" class="pull-left text-primary">
                    <strong>{{group.course}}
                      ({{group.name}})</strong>
                  </h5>
                  <a href="#" style="position:absolute;top:.7em;right:.6em;" ng-click="openMoveGroupUserModal(user)" class="trash">
                    <span class="glyphicon glyphicon-remove"></span>
                  </a>
                </div>
              </tr>
              <tr>
                <!-- <th>ID</th> -->
                <!-- <th>Name</th> -->
                <th>Email</th>
                <th>Role</th>
                <!-- <th>Department</th> -->
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in group.users">
                <!-- <td>{{user._id}}</td> -->
                <!-- <td>{{user.name}}</td> -->
                <td>{{user.email}}</td>
                <td style="text-transform: capitalize;">{{user.role}}</td>
                <!-- <td ng-if="user.department">{{user.department}}</td>
				<td ng-if="!user.department">N/A</td> -->
                <td>
                  <a href="#" ng-click="openMoveGroupUserModal(user)" class="text-success">
                    <span class="glyphicon glyphicon-share pull-right"></span>
                  </a>
                </td>
                <td>
                  <a href="#" ng-click="openRemoveGroupUserModal(user)" class="trash">
                    <span class="glyphicon glyphicon-remove pull-right"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
      <div ng-if="isEmpty(subdep.groups)" class="text-center text-primary top-buffer">
        <p>No groups exist for this sub department!</p>
      </div>
    </div>
  </div>
</div>
</div>
<!-- FOOTER -->
<div ng-include="'components/footer/footer.html'"></div>
<!-- /FOOTER -->