@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';
@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';
/**
 * App-wide Styles
 */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
// injector
@import 'account/login/login.less';
@import 'account/register/register.less';
@import 'account/request-new/request-new.less';
@import 'admin/general/general.less';
@import 'admin/users/users.less';
@import 'dashboard/dashboard.less';
@import 'index/index.less';
@import 'lessons/lessonList.less';
@import 'moduleGroups/moduleGroup.less';
@import 'modules/moduleList.less';
@import 'planner/planner.less';
@import 'session/session.less';
@import 'stats/statistics.less';
@import 'datepicker/datepicker.less';
@import 'footer/footer.less';
@import 'loading/loading.less';
@import 'modal/modal.less';
@import 'modal/views/lesson/create.less';
@import 'navbar/navbar.less';
@import 'ngtoast/ngtoast.less';
@import 'page-header/page-header.less';
@import 'star-rating/star-rating.less';
@import 'tooltip/tooltip.less';
// endinjector