@import '../assets/fonts/fonts.less';
@import 'font-awesome/less/font-awesome.less';
@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';
/**
 * App-wide Styles
 */
html,
body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}
html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
  font-family: "Muli" ,Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  -webkit-overflow-scrolling: touch;
}
*,
:after,
:before {
  box-sizing: border-box;
}
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: normal;
}
h4,
h5,
h6 {
  margin-top: 16px;
  margin-bottom: 8px;
  font-weight: normal;
}
.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
  font-weight: 400;
  line-height: 1;
  color: #999;
}
.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
  font-size: 75%;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
a {
  color: #82AECC;
  &:hover {
    text-decoration: underline;
  }
}
hr {
  border: none;
  border-top: 1px solid #F5F5F5;
}
table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    tr {
      display: table-row;
      vertical-align: inherit;
      border-color: inherit;
    }
  }
  tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }
}
th {
  text-align: left;
}
td,
th {
  padding: 0;
}
.table {
  width: 100%;
  margin-bottom: 20px;
  thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
  }
  tbody>tr>td,
  tbody>tr>th,
  tfoot>tr>td,
  tfoot>tr>th,
  thead>tr>td,
  thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
  }
  caption+thead>tr:first-child>td,
  caption+thead>tr:first-child>th,
  colgroup+thead>tr:first-child>td,
  colgroup+thead>tr:first-child>th,
  thead:first-child>tr:first-child>td,
  thead:first-child>tr:first-child>th {
    border-top: 0;
  }
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.btn-group-vertical>.btn-group:after,
.btn-toolbar:after,
.clearfix:after,
.container-fluid:after,
.container:after,
.form-horizontal .form-group:after,
.modal-footer:after,
.nav:after,
.navbar-collapse:after,
.navbar-header:after,
.navbar:after,
.pager:after,
.panel-body:after,
.row:after {
  clear: both;
}
.btn-group-vertical>.btn-group:after,
.btn-group-vertical>.btn-group:before,
.btn-toolbar:after,
.btn-toolbar:before,
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.modal-footer:after,
.modal-footer:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.pager:after,
.pager:before,
.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
  content: " ";
  display: table;
}
.btn-group-vertical>.btn-group:after,
.btn-group-vertical>.btn-group:before,
.btn-toolbar:after,
.btn-toolbar:before,
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.modal-footer:after,
.modal-footer:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.pager:after,
.pager:before,
.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
  content: " ";
  display: table;
}
.btn-primary {
  color: #82aecc;
  background-color: #3b4652;
  border-color: #262d34;
}
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: #999;
  border-radius: 10px;
}
.text-info,
.text-success,
.text-warning,
.text-error {
  margin: 10px 0;
  padding: 12px;
}
.text-primary {
  color: #82AECC;
}
.text-info {
  color: #00529B;
}
.text-success {
  color: #4F8A10;
}
.text-warning {
  color: #9F6000;
}
.text-error {
  color: #D8000C;
}
.text-info i,
.text-success i,
.text-warning i,
.text-error i {
  margin: 10px 22px;
  font-size: 2em;
  vertical-align: middle;
}
.label-primary {
  color: #445B6B;
  background-color: #82AECC;
}
.label-info {
  color: #00529B;
  background-color: #BDE5F8;
}
.label-success {
  color: #4F8A10;
  background-color: #DFF2BF;
}
.label-warning {
  color: #9F6000;
  background-color: #FEEFB3;
}
.label-error {
  color: #D8000C;
  background-color: #FFBABA;
}
.label-info i,
.label-success i,
.label-warning i,
.label-error i {
  margin: 10px 22px;
  font-size: 2em;
  vertical-align: middle;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
// injector
@import 'account/login/login.less';
@import 'account/register/register.less';
@import 'account/request-new/request-new.less';
@import 'admin/general/general.less';
@import 'admin/users/users.less';
@import 'dashboard/dashboard.less';
@import 'index/index.less';
@import 'lessons/lessonList.less';
@import 'moduleGroups/moduleGroup.less';
@import 'modules/moduleList.less';
@import 'planner/planner.less';
@import 'session/active.less';
@import 'session/start.less';
@import 'stats/statistics.less';
@import 'app-header/app-header.less';
@import 'checkbox/checkbox.less';
@import 'datepicker/datepicker.less';
@import 'loading/loading.less';
@import 'modal/modal.less';
@import 'modal/views/lesson/create.less';
@import 'navbar/navbar.less';
@import 'ngtoast/ngtoast.less';
@import 'star-rating/star-rating.less';
@import 'tooltip/tooltip.less';
// endinjector