<div ng-include="'components/page-header/page-header.html'"></div>

<div class="marg-fix pad-fix header-margin-offset body-min-height">
  <div class="row">
    <div class="warnings">
      <div class="alert alert-danger" role="alert" ng-if="noFiltQueryReturn">
        <p href="" class="alert-link">Query returned no users</p>
      </div>
    </div>
  </div>
  <div class="row">
    <table class="table table-striped module-table">
      <thead class="panel">
        <tr class="panel-heading" style="color:white;">
          <th>ID</th>
          <th>Name</th>
          <th style="text-align: center;">Student Count</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="module in modules" ng-click="routeToModuleChild(module._id)">
          <td>{{module._id}}</td>
          <td>{{module.name}}</td>
          <td style="text-align: center;">{{module.students.length}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>