<div ng-include="'components/page-header/page-header.html'"></div>

<div class="container header-margin-offset">
  <!-- <div class="row" style="margin-top:1em;padding-bottom:1.4em;border-bottom:2px dotted #8CB7D3;">
    <div class="col-sm-4 col-med-4 col-lg-4 user-filter text-center">
      <h5 class="text-left">User Role</h5>
      <div class="btn-group " role="group" aria-label="...">
        <button ng-repeat="(key,value) in filter.role" type="button" style="text-transform: capitalize;" class="btn btn-default" ng-class="{active: value}" ng-click="userRoleFilterToggle(key)">{{key}}</button>
      </div>
    </div>
    <div class="col-sm-4 col-med-4 col-lg-4 user-filter text-center">
      <h5 class="text-left">Creation Date</h5>
      <div class="sliderExample">
        <p style="margin-bottom:-10px;">
          <strong>Slider placeholder</strong>
        </p><br>
      </div>
    </div>
    <div class="col-sm-4 col-med-4 col-lg-4 user-filter">
      <h5 class="text-left">Member of...</h5>
      <div class="dropdown reg-dropdown" style="position:relative;">
        <button class="btn btn-inverse dropdown-toggle form-control" name="course" type="button" data-toggle="dropdown">{{filter.group}}
          <span class="caret"></span>
        </button>
        <a ng-click="clearDepFilter($event)" ng-class="{ 'disable-custom-filter': clearedFilter.dropdown, 'custom-filter': !clearedFilter.dropdown }" class="glyphicon glyphicon-remove pull-right"></a>
        <ul class="dropdown-menu scrollable-menu" role="menu" style="overflow:hidden;">
          <!-- <li ng-repeat="(key,val) in groups">
            <a class="dropdown-header disabled dropdown-header-custom" ng-click="groupDropdownSel(key)">{{key}}</a>
            <a ng-repeat="subVals in courses[key]" ng-click="groupDropdownSel(subVals)">{{courses[key][$index]}}</a>
          </li>
          <li ng-repeat="group in groups">
            <a class="" ng-click="groupDropdownSel(group.course)">{{group.course}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div> -->

  <div class="row">
    <div class="warnings">
      <!-- <div class="alert alert-warning" role="alert">
        <a href="#" class="alert-link">You have entered an incorrect attribute</a>
      </div> -->
      <div class="alert alert-danger" role="alert" ng-if="noFiltQueryReturn">
        <p href="" class="alert-link">Query returned no users</p>
      </div>
    </div>
  </div>
  <div class="row">
    <p></p>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading clearfix">
        <p></p>
        <!-- <button class="btn btn-primary pull-right" ng-click="refreshUserList('btn')">
          <span class="glyphicon glyphicon-refresh rotate"></span>
          Refresh</button> -->
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Course</th>
            <th>Created On</th>
            <th class="text-center">Validated</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="!isEmpty(users.result)" ng-repeat="user in users.result">
            <td>
              <a href="#" class="text-primary" ng-click="openUpdateUserModal(user)">{{user.name}}</a>
            </td>
            <td>{{user.email}}</td>
            <td style="text-transform: capitalize;">{{user.role}}</td>
            <td ng-if="user.course">{{user.course}}</td>
            <td ng-if="isEmpty(user.course)">N/A</td>
            <td>{{moment.utc(user.createdOn).format('DD/MM/YYYY HH:mm:ss')}}</td>
            <td ng-if="!user.passcode" class="text-center">
              <span class="glyphicon glyphicon-ok text-success"></span>
            </td>
            <td ng-if="user.passcode" class="text-center">
              <span class="glyphicon glyphicon-remove text-danger"></span>
            </td>
            <td>
              <a ng-click="openDeleteUserModal(user)" class="trash">
                <span class="glyphicon glyphicon-trash pull-right"></span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-4 col-med-2 col-lg-2 pull-left">
      <button type="button" class="btn btn-success dropdown-toggle" ng-click="openImportModal()">Import...</button>
    </div>
    <div class="col-sm-8 col-med-10 col-lg-10">
      <ul class="pagination pull-right">
        <li ng-class="{disabled: currentPage-1==0}">
          <a href="#" aria-label="Previous" ng-click="changePaginationPage(currentPage-1)">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li ng-repeat="n in [].constructor(totalPages) track by $index" ng-class="{active: $index+1==currentPage}">
          <a ng-click="changePaginationPage($index+1)">{{$index+1}}</a>
        </li>
        <li ng-if="totalPages==0" class="disabled">
          <a>&#x2639;</a>
        </li>
        <li ng-class="{disabled: currentPage+1>totalPages}">
          <a href="#" aria-label="Next" ng-click="changePaginationPage(currentPage+1)">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
<!--

<div ng-include="'components/page-header/page-header.html'"></div>

<div class="marg-fix header-margin-offset">
  <div class="row" ng-repeat="group in groups">
    <div class="col-xs-12 col-sm-12 col-md-12" ng-class="{'foot-marg': $last && isEmpty(unassigned)}">
      <h3 class="" style="padding-left:4px;">{{group.course}}
        - (Level
        {{group.level}})
        <a href="#" ng-click="openUpdateModal(group._id)" class="text-warning">
          <i class="fa fa-pencil fa"></i>
        </a>
        <a href="#" ng-click="openDeleteModal(group._id)" class="trash">
          <i class="fa fa-trash pull-right"></i>
        </a>
      </h3>
      <hr class="resource-hr">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <h4 style="margin:0em 0 .4em;">Tutors</h4>
        <a href="#" class="col-xs-6 col-sm-4 col-md-3 col-lg-3 text-primary" ng-repeat="tutor in group.tutors">
          {{tutor.user.name}}
        </a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12">
        <h4 style="margin:1em 0 .4em;">Students</h4>
        <a class="col-xs-6 col-sm-4 col-md-3 col-lg-3 group-user" style="color:#343D48" ng-repeat="student in group.students">
          {{student.user.name}}
        </a>
      </div>
    </div>
  </div>
  <div class="row" ng-if="!isEmpty(unassigned)">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h3 class="text-primary" style="padding-left:4px;">Unassigned User Pool
      </h3>
      <hr class="resource-hr">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <h4 style="margin:0em 0 .4em;" ng-if="!isEmpty(unassigned.tutors)">Tutors</h4>
        <a href="#" class="col-xs-6 col-sm-4 col-md-3 col-lg-3 text-primary" ng-repeat="tutor in unassigned.tutors">
          {{tutor.user.name}}
        </a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12">
        <h4 style="margin:1em 0 .4em;" ng-if="">!isEmpty(unassigned.tutors)</h4>
        <a class="col-xs-6 col-sm-4 col-md-3 col-lg-3 group-user" style="color:#343D48" ng-repeat="student in unassigned.students">
          {{student.user.name}}
        </a>
      </div>
    </div>
  </div>
</div>
-->