<div class="body-min-height">
  <div class="row" style="margin:0;">
    <md-content>
      <button ng-click='openCreateModal()'>add module</button>
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Your modules">
          <md-content class="md-padding">
            <div class="row module-row" ng-repeat="module in userModules" ng-click="routeToModuleChild(module._id)">
              <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <h4>
                  <strong>{{module.code}}</strong>
                  <small>{{module.name}}</small>
                </h4>
              </div>
              <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 pull-right" style="text-align: right;position:relative;">

                <h5 style="position:relative;">
                  <i class="fa fa-users" style="position:absolute;right:24px;top:10px;color:#555;"></i>
                  <span style="position:absolute;right:0px;top:10px;color:#555;">{{module.groupStudCount}}</span>
                </h5>
              </div>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="Explore Modules">
          <md-content class="md-padding">
            <div class="row module-row" ng-repeat="module in explorableModules" ng-click="routeToModuleChild(module._id)">
              <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <h4>
                  <strong>{{module.code}}</strong>
                  <small>{{module.name}}</small>
                </h4>
              </div>
              <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 pull-right" style="text-align: right;position:relative;">

                <h5 style="position:relative;">
                  <i class="fa fa-users" style="position:absolute;right:24px;top:10px;color:#555;"></i>
                  <span style="position:absolute;right:0px;top:10px;color:#555;">{{module.groupStudCount}}</span>
                </h5>
              </div>
            </div>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>