<div class="navbar navbar-inverse navbar-fixed-left" ng-controller="NavbarCtrl">
  <div class="navbar" style="margin:0;">
    <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <h3 href="#" ng-class="{active: isActive('/')}" ng-click="checkLocation()" class="navbar-brand-uniqa-logo">UniQA</h3>
  </div>
  <ul class="nav navbar-nav navbar-collapse collapse" collapse="isCollapsed" id="navbar-main">
    <li ng-repeat="item in leftMenu" ng-class="{active: isActive(item.link)}">
      <a ng-if="isAdmin() && item.admin ||
                        isTutor() && item.tutor ||
                        isStudent() && item.student" ng-href="{{item.link}}" class="disable-animations">{{item.title}}</a>
    </li>
  </ul>
</div>

<!-- <div class="navbar col-lg-2 col-md-3 col-sm-3" ng-controller="NavbarCtrl">
  <div class="navbar">
    <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="#" ng-class="{active: isActive('/')}" ng-click="checkLocation()" class="navbar-brand uniqa-logo">UniQA</a>
  </div>
  <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
    <ul class="nav navbar-nav">
      <li ng-repeat="item in leftMenu" ng-class="{active: isActive(item.link)}">
        <a ng-if="isAdmin() && item.admin ||
		  				isTutor() && item.tutor ||
						isStudent() && item.student" ng-href="{{item.link}}" class="disable-animations">{{item.title}}</a>
      </li>
    </ul> -->
<!-- <ul class="nav navbar-nav navbar-right ">
        <li ng-if="!isLoggedIn()" ng-repeat="item in rightMenu" ng-class="{active: isActive(item.link)}">
          <a ng-href="{{item.link}}" class="disable-animations">{{item.title}}</a>
        </li>
        <li ng-if="isLoggedIn()" ng-class="{active: isActive('/profile/notifications')}" class="nav-notification visible-md visible-lg">
          <a ng-href="/profile/notifications">
            <i class="fa fa-bell-o" style="font-size:1.3em;"></i>
          </a>
        </li>
        <li ng-show="isLoggedIn()" class="visible-md visible-lg divider-vertical"></li>
        <li class="dropdown" ng-class="{active: (isActive('/profile') || isActive('/profile/settings'))}">
          <a ng-href="" ng-show="isLoggedIn()" class="dropdown-toggle small" data-toggle="dropdown" role="button" style="color:#FFA700;" aria-haspopup="true" aria-expanded="false">
            {{ getCurrentUser().email }}
            <span class="caret" style="color:#82AECC;"></span>
          </a>
          <ul class="dropdown-menu navbar-content" ng-click="$event.stopPropagation()">
            <li>
              <a ng-href="/profile">Profile</a>
            </li>
            <li>
              <a ng-href="/profile/settings">Settings</a>
            </li>
            <li role="separator" class="divider"></li>
            <li style="margin:0;">
              <a class="btn btn-default btn-danger custom-logout-btn" style="width:100%;border-radius:0;" ng-click="logout()">
                <h5 style="display:inline-block;margin-right:.2em;">Sign out</h5>
                <i class="fa fa-sign-out fa-1x"></i>
              </a>
            </li>
          </ul>
        </li>
      </ul> -->
<!-- </div>
</div> -->