<div class="body-min-height">

  <div style="float:right;text-align:center;">
    <md-button class="md-button md-primary md-raised" aria-label="Favorite" ng-click="openCreateModal()">
      <span style="color:white;">Add</span>
    </md-button>
  </div>
  <h2 ng-repeat-start="(key,module) in moduleLessons" ng-if="$index === 0 || (key !== moduleLessons[$index-1].module.name)" style="clear:both;">
    {{key}}
    <hr></hr>
  </h2>
  <md-content ng-repeat-end class="md-padding" layout-xs="column" layout="row" style="margin-bottom:3em;">
    <div ng-repeat="lesson in module" layout="column" style="padding-bottom:1em">
      <md-card class="lesson-card" style="min-width:260px;">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{lesson.title}}</span>
          </md-card-title-text>
          <md-button class="md-icon-button lesson-action-button lesson-favourite" aria-label="Clone" style="margin-top:-.34em;">
            <i class="fa fa-star" aria-hidden="true"></i>
            <md-tooltip md-autohide="true" md-direction="top" class="tooltip-md">
              Favourites - coming soon
            </md-tooltip>
          </md-button>
        </md-card-title>
        <md-card-content>
          <p ng-if="lesson.desc">{{lesson.desc}}</p>
          <p ng-if="!lesson.desc" style="color:#757575;">No description</p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-menu md-offset="0 -5">
            <md-button aria-label="Show more options" class="md-icon-button lesson-action-button" ng-click="openMoreLessonOptions($mdOpenMenu, $event)">
              <i md-menu-origin class="fa fa-ellipsis-h" aria-hidden="true" style="font-size:1.5em;color:#757575;"></i>
            </md-button>
            <md-menu-content width="3" class="lesson-sub-menu notransition">
              <md-menu-item>
                <md-button ng-click="announceClick('edit',lesson)" style="color:#202020;">
                  <i md-menu-align-target class="fa fa-pencil-square-o" aria-hidden="true" style="width:26px;"></i>
                  Edit
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="announceClick('clone',lesson)" style="color:#202020;">
                  <i md-menu-align-target class="fa fa-clone" aria-hidden="true" style="width:26px;"></i>
                  Clone
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="announceClick('delete',lesson)" style="color:#202020;">
                  <i md-menu-align-target class="fa fa-minus" aria-hidden="true" style="width:26px;"></i>
                  Delete
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-button class="md-icon-button lesson-action-button" aria-label="Share">
            <i class="fa fa-share" aria-hidden="true" style="font-size:1.3em;color:#757575;"></i>
            <md-tooltip md-autohide="true" md-direction="top" class="tooltip-md">
              Share - coming soon
            </md-tooltip>
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
  </md-content>

  <h2 ng-if="lessonsWithoutModules.length > 0" style="clear:both;">Everything else...
    <hr></hr>
  </h2>
  <md-content class="md-padding" layout-xs="column" layout="row" style="margin-bottom:3em;">
    <div ng-repeat="lesson in lessonsWithoutModules" layout="column" style="padding-bottom:1em">
      <md-card class="lesson-card" style="min-width:260px;">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{lesson.title}}</span>
          </md-card-title-text>
          <md-button class="md-icon-button lesson-action-button lesson-favourite" aria-label="Clone" style="margin-top:-.34em;">
            <i class="fa fa-star" aria-hidden="true"></i>
            <md-tooltip md-autohide="true" md-direction="top" class="tooltip-md">
              Favourites - coming soon
            </md-tooltip>
          </md-button>
        </md-card-title>
        <md-card-content>
          <p ng-if="lesson.desc">{{lesson.desc}}</p>
          <p ng-if="!lesson.desc" style="color:#757575;">No description</p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-menu md-offset="0 -5">
            <md-button aria-label="Show more options" class="md-icon-button lesson-action-button" ng-click="openMoreLessonOptions($mdOpenMenu, $event)">
              <i md-menu-origin class="fa fa-ellipsis-h" aria-hidden="true" style="font-size:1.5em;color:#757575;"></i>
            </md-button>
            <md-menu-content width="3" class="lesson-sub-menu notransition">
              <md-menu-item>
                <md-button ng-click="announceClick('edit',lesson)" style="color:#202020;">
                  <i md-menu-align-target class="fa fa-pencil-square-o" aria-hidden="true" style="width:26px;"></i>
                  Edit
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="announceClick('clone',lesson)" style="color:#202020;">
                  <i md-menu-align-target class="fa fa-clone" aria-hidden="true" style="width:26px;"></i>
                  Clone
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="announceClick('delete',lesson)" style="color:#202020;">
                  <i md-menu-align-target class="fa fa-minus" aria-hidden="true" style="width:26px;"></i>
                  Delete
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-button class="md-icon-button lesson-action-button" aria-label="Share">
            <i class="fa fa-share" aria-hidden="true" style="font-size:1.3em;color:#757575;"></i>
            <md-tooltip md-autohide="true" md-direction="top" class="tooltip-md">
              Share - coming soon
            </md-tooltip>
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
  </md-content>
</div>

<!-- FOOTER -->
<div ng-include="'components/footer/footer.html'"></div>
<!-- /FOOTER -->