.tooltip-inner {
  max-width: 350px;
  word-wrap: break-word;
}
.lesson-container {
  margin: 16px;
  background-color: #EEE;
  float: left;
  display: block;
  min-height: 268px;
  width: 90%;
}
.lesson-container:hover {
  background-color: #DDD;
  cursor: pointer;
}