.lesson-mod-name {
  clear: both;
  padding-left: 8px;
  border-bottom: 1px solid #F5F5F5;
}
.lesson-action-button {
  margin-left: 0.2em !important;
  margin-right: 0.2em !important;
}
.lesson-favourite {
  margin-right: -.3em !important;
}
.lesson-action-button .fa-star {
  color: #BBB;
  font-size: 1.5em;
}
.lesson-action-button:hover .fa-star {
  color: #FFD700;
}
.collab-avatar {
  border: 2px solid #82AECC;
  /* make it responsive */
  max-width: 44px;
  width: 44px;
  margin: -6px 4px 12px;
  height: auto;
  /* make it a cirkle */
  border-radius: 50%;
  /* Centering on image`s center*/
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  /* it makes the clue thing, takes smaller dimention to fill div */
  background-size: cover;
}
.collab-avatar:first-of-type {
  margin-left: 0;
}
.lesson-card {
  // border-radius: 0;
  box-shadow: inset 3px 0 0 0 #82AECC;
  background-color: transparent;
  border-top: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  color: #202020;
  margin-bottom: 1em;
  min-width: 280px;
  display: inline-block;
  .no-desc {
    color: #202020;
  }
}
@media (max-width: 600px) {
  .lesson-card {
    display: block;
    // margin-bottom: 1em;
  }
}
.md-headline {
  font-size: 1.3em;
}