.navbar-content {
  cursor: default;
  background-color: lighten(#343D48,6%);
  width: 320px;
  padding: 1em 1em 0;
}
.navbar-content:before,
.navbar-content:after {
  display: table;
  content: "";
  line-height: 0;
}
.navbar-change-picture {
  margin: 0.5em 0 !important;
}
.navbar-prof-submenu {
  width: 100%;
  margin: 1em 0;
}
.navbar-prof-submenu a {
  border: 2px solid #82AECC;
  font-size: 1.1em;
  margin: 0.3em 0.34em;
}
.nav-notification {
  position: relative;
}
.nav-notification-badge {
  text-align: center;
  display: block;
  color: black;
  font-size: 1em;
  overflow: hidden;
  background: #8DB7D2;
  border-color: #8DB7D2;
  background-image: -webkit-linear-gradient(top, #8DB7D2, #87B0C9);
  background-image: -moz-linear-gradient(top, #8DB7D2, #87B0C9);
  background-image: -o-linear-gradient(top, #8DB7D2, #87B0C9);
  background-image: linear-gradient(to bottom, #8DB7D2, #87B0C9);
}
.navbar-footer {
  cursor: default;
  background-color: #82AECC;
}
.navbar-footer-content {
  padding: 0.6em;
}
.dropdown-menu {
  padding: 0;
  overflow: hidden;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  box-shadow: inset 0 2px 0 #82AECC;
  /* switch to a lighter color for active element */
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -kthtml-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.uniqa-logo.active,
.uniqa-logo.active:hover {
  // cursor: pointer;
  // background-color: @body-custom-blue;
  // color: @body-custom-gray;
}