<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Registration</h1>
      <p>Please provide your name and academic email address (e.g.
        <code>example.student{{uniEmail}}</code>), followed by the passcode supplied by your tutor (8 random characters). On authentication success you will be required to create a password for your account.
      </p>
    </p>Not from
    <span class="text-muted">{{uniName}}?</span>
    Check out what other universities we are supported in:
    <a href="/supported-establishments" target="_blank">Supported Universities</a>
  </p>
</div>
<div class="col-xs-12 col-sm-10 col-md-4">
  <form class="form" name="form" ng-submit="register(form)" novalidate>

    <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
												'has-error': form.name.$invalid && submitted }">
      <label>Name</label>

      <input type="text" name="name" class="form-control" ng-model="user.name" required/>
      <p class="help-block" ng-show="form.name.$error.required && submitted">
        A name is required
      </p>
    </div>

    <div class="form-group" ng-class="{ 'has-success': user.role!='Select Role' && submitted,
												'has-error': user.role=='Select Role' && submitted }">
      <label>Account Type</label>

      <!-- <input type="roles" name="roles" class="form-control" ng-model="user.roles" required mongoose-error/> -->
      <div class="dropdown reg-dropdown">
        <button style="text-transform: capitalize;" class="btn btn-inverse dropdown-toggle form-control" name="type" ng-model="user.roles" type="button" data-toggle="dropdown">{{user.role}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a style="text-transform: capitalize;" ng-repeat="role in roles" ng-click="userRoleDropdownSel(role)">{{role}}</a>
          </li>
        </ul>
      </div>
      <p class="help-block" ng-show="user.role=='I am a...' && submitted">
        Please select a user type
      </p>
      <p class="help-block" ng-show="form.roles.$error.mongoose">
        {{ errors.roles }}
      </p>
    </div>

    <div class="form-group" ng-class="{ 'has-success': user.department!='Select Department' && submitted,
											'has-error': user.department=='Select Department' && submitted }">
      <label>Department</label>

      <!-- <input type="university" name="university" class="form-control" ng-model="user.university" required mongoose-error/> -->
      <div class="dropdown reg-dropdown">
        <button class="btn btn-inverse dropdown-toggle form-control" name="department" type="button" data-toggle="dropdown">{{user.department}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu scrollable-menu" role="menu">
          <li ng-repeat="(key,val) in departments">
            <a class="dropdown-header disabled dropdown-header-custom" ng-click="$event.preventDefault()">{{key}}</a>
            <a ng-repeat="subVals in departments[key]" ng-click="depDropdownSel(subVals)">{{departments[key][$index]}}</a>
          </li>
        </ul>
      </div>
      <p class="help-block" ng-show="user.department=='I go to...' && submitted">
        Please select a department
      </p>
      <p class="help-block" ng-show="form.department.$error.mongoose">
        {{ errors.department }}
      </p>
    </div>

    <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
											'has-error': form.email.$invalid && submitted }">
      <label>Email</label>

      <div class="input-group">
        <input type="text" name="email" class="form-control" aria-describedby="basic-addon2" ng-model="user.email" required mongoose-error>
        <span class="input-group-addon" id="basic-addon2">{{uniEmail}}</span>
      </div>
      <!-- <input type="email" name="email" class="form-control" ng-model="user.email" required mongoose-error/> -->
      <p class="help-block" ng-show="form.email.$error.email && submitted">
        Email address provided does not match the university format
      </p>
      <p class="help-block" ng-show="form.email.$error.required && submitted">
        Please enter your email address
      </p>
      <p class="help-block" ng-show="form.email.$error.mongoose">
        {{ errors.email }}
      </p>
    </div>

    <div class="form-group" ng-class="{ 'has-success': form.passcode.$valid && submitted,
												'has-error': form.passcode.$invalid && submitted }">
      <label>Access Code</label>

      <input type="passcode" name="passcode" class="form-control" ng-model="user.passcode" maxlength=10 required mongoose-error/>
	  <p class="help-block">Lost your passcode?
	    <a href="/request-passcode" target="_blank">Request a new one</a>
	  </p>
      <p class="help-block" ng-show="(form.passcode.$error.minlength || form.passcode.$error.required) && submitted">
        Passcodes are 10 characters long.
      </p>
      <p class="help-block" ng-show="form.passcode.$error.mongoose">
        {{ errors.passcode }}
      </p>
    </div>

    <div>
      <button class="btn btn-primary btn-lg btn-login pull-right" type="submit">
        Register
      </button>
    </div>
  </form>
</div>
<div class="hidden-xs hidden-sm col-md-8 reg-info text-center">
  <h2 class="reg-heading text-muted">Register with UniQA</h2>
  <p class="lead text-center">Placeholder for a picture of a macbook, iphone & tablet showcasing uniqa</p>
  <img class="reg-image img-circle pull-right" src="http://placehold.it/480">
</div>
</div>
<hr>
<!-- FOOTER -->
<div ng-include="'components/footer/footer.html'"></div>
<!-- /FOOTER -->
</div>
