<div ng-include="'components/navbar/navbar.html'"></div>

<div class="page-sub-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-med-4 col-lg-2 ">
        <h1>User Management</h1>
      </div>
      <div class="col-sm-3 col-med-3 col-lg-3 ">
        <form id="search-form" class="form-inline" role="form" method="post">
          <div class="input-group">
            <input type="text" class="form-control search-form" placeholder="Search" ng-keyup="searchStrFilter($event)" ng-model="filter.searchStr">
            <span class="input-group-btn" style="position:relative;">
              <button type="submit" class="btn btn-primary search-btn" data-target="#search-form" name="q">
                <span style="" class="glyphicon glyphicon-search"></span>
              </button>
              <!-- <a ng-click="clearSearchFilter($event)" ng-class="{ 'disable-custom-filter': clearedFilter.dropdown, 'custom-filter': !clearedFilter.dropdown }" class="glyphicon glyphicon-remove pull-right"></a> -->
            </span>
          </div>
        </form>
      </div>
      <div class="col-sm-4 col-med-4 col-lg-4 pull-right text-center">
        <div class="col-sm-4 col-med-4 col-lg-4 pull-right">
          <button type="button" class="btn btn-success dropdown-toggle page-sub-header-btn" ng-click="openCreateUserModal()">Create User</button>
        </div>
        <div class="sub-menu-divider-vertical pull-right"></div>
        <div class="col-sm-4 col-med-4 col-lg-4 pull-right">
          <h2>
            <span>{{userCount}}</span><br>
            System User(s)
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row" style="margin-top:1em;padding-bottom:1.4em;border-bottom:2px dotted #8CB7D3;">
    <div class="col-sm-4 col-med-4 col-lg-4 user-filter text-center">
      <h5 class="text-left">User Role</h5>
      <div class="btn-group " role="group" aria-label="...">
        <button ng-repeat="(key,value) in filter.role" type="button" style="text-transform: capitalize;" class="btn btn-default" ng-class="{active: value}" ng-click="userRoleFilterToggle(key)">{{key}}</button>
      </div>
    </div>
    <div class="col-sm-4 col-med-4 col-lg-4 user-filter text-center">
      <h5 class="text-left">Creation Date</h5>
      <div class="sliderExample">
        <p style="margin-bottom:-10px;">
          <strong>Slider placeholder</strong>
        </p><br>
      </div>
    </div>
    <div class="col-sm-4 col-med-4 col-lg-4 user-filter">
      <h5 class="text-left">Member of...</h5>
      <div class="dropdown reg-dropdown" style="position:relative;">
        <button class="btn btn-inverse dropdown-toggle form-control" name="course" type="button" data-toggle="dropdown">{{filter.course}}
          <span class="caret"></span>
        </button>
        <a ng-click="clearDepFilter($event)" ng-class="{ 'disable-custom-filter': clearedFilter.dropdown, 'custom-filter': !clearedFilter.dropdown }" class="glyphicon glyphicon-remove pull-right"></a>
        <ul class="dropdown-menu scrollable-menu" role="menu" style="overflow:hidden;">
          <li ng-repeat="(key,val) in courses">
            <a class="dropdown-header disabled dropdown-header-custom" ng-click="depDropdownSel(key)">{{key}}</a>
            <a ng-repeat="subVals in courses[key]" ng-click="depDropdownSel(subVals)">{{courses[key][$index]}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="warnings">
      <!-- <div class="alert alert-warning" role="alert">
        <a href="#" class="alert-link">You have entered an incorrect attribute</a>
      </div> -->
      <div class="alert alert-danger" role="alert" ng-if="noFiltQueryReturn">
        <p href="" class="alert-link">Query returned no users</p>
      </div>
    </div>
  </div>
  <div class="row">
    <p></p>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading clearfix">
        <button class="btn btn-primary pull-right" ng-click="refreshUserList('btn')">
          <span class="glyphicon glyphicon-refresh rotate"></span>
          Refresh</button>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Course</th>
            <th>Created On</th>
            <th class="text-center">Validated</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!-- IF filters are active -->
          <tr ng-if="isEmpty(fUsers.result) && !isEmpty(users)" ng-repeat="user in users">
            <td>
              <a href="#" class="text-muted" ng-click="openUpdateUserModal(user)">{{user.name}}</a>
            </td>
            <td>{{user.email}}</td>
            <td style="text-transform: capitalize;">{{user.role}}</td>
            <td ng-if="user.course.name">{{user.course.name}}</td>
            <td ng-if="!user.course">N/A</td>
            <td>{{user.createdOn}}</td>
            <td ng-if="!user.passcode" class="text-center">
              <span class="glyphicon glyphicon-ok text-success"></span>
            </td>
            <td ng-if="user.passcode" class="text-center">
              <span class="glyphicon glyphicon-remove text-danger"></span>
            </td>
            <td>
              <a ng-click="openDeleteUserModal(user)" class="trash">
                <span class="glyphicon glyphicon-trash pull-right"></span>
              </a>
            </td>
          </tr>
          <!-- IF filters are NOT active -->
          <tr ng-if="!isEmpty(fUsers.result)" ng-repeat="user in fUsers.result">
            <td>
              <a href="#" class="text-muted" ng-click="openUpdateUserModal(user)">{{user.name}}</a>
            </td>
            <td>{{user.email}}</td>
            <td style="text-transform: capitalize;">{{user.role}}</td>
            <td ng-if="user.course">{{user.course.name}}</td>
            <td ng-if="!user.course">N/A</td>
            <td>{{user.createdOn}}</td>
            <td ng-if="!user.passcode" class="text-center">
              <span class="glyphicon glyphicon-ok text-success"></span>
            </td>
            <td ng-if="user.passcode" class="text-center">
              <span class="glyphicon glyphicon-remove text-danger"></span>
            </td>
            <td>
              <a ng-click="openDeleteUserModal(user)" class="trash">
                <span class="glyphicon glyphicon-trash pull-right"></span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-4 col-med-2 col-lg-2 pull-left">
      <button type="button" class="btn btn-success dropdown-toggle" ng-click="">Import Users...</button>
    </div>
    <div class="col-sm-8 col-med-10 col-lg-10">
      <ul class="pagination pull-right">
        <li ng-class="{disabled: currentPage-1==0}">
          <a href="#" aria-label="Previous" ng-click="changePaginationPage(currentPage-1)">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li ng-repeat="n in [].constructor(totalPages) track by $index" ng-class="{active: $index+1==currentPage}">
          <a ng-click="changePaginationPage($index+1)">{{$index+1}}</a>
        </li>
        <li ng-if="totalPages==0" class="disabled">
          <a>&#x2639;</a>
        </li>
        <li ng-class="{disabled: currentPage+1>totalPages}">
          <a href="#" aria-label="Next" ng-click="changePaginationPage(currentPage+1)">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--
<div class="col-sm-4 col-med-4 col-lg-4">
  Results per page: &nbsp;
  <div class="btn-group" role="group" aria-label="">
	<button type="button" class="btn btn-default active">10</button>
	<button type="button" class="btn btn-default">20</button>
	<button type="button" class="btn btn-default">50</button>
	<button type="button" class="btn btn-default">100</button>
  </div>
</div>
-->
<!-- FOOTER -->
<div ng-include="'components/footer/footer.html'"></div>
<!-- /FOOTER -->