.page-head {
  background-color: #414C5A !important;
  border-bottom: 1px solid #AAAAAA;
  height: 50px;
  min-height: 50px;
}
.search-form {
  border: 1px solid #E5E5E5;
  box-shadow: none;
}
.search-btn {
  background: transparent;
  border: none;
  position: absolute;
  right: 4px;
  top: 5px;
  color: #BBB;
}
.search-form:active,
.search-form:focus {
  outline-width: 0;
  border-color: #82AECC;
  box-shadow: none;
  outline: 0 !important;
}
.search-btn:active,
.search-btn:focus {
  outline: none;
}
.page-sub-header-action-btn {
  display: inline-block;
}
.page-sub-header-action-btn > i.fa {
  color: #F7F7F7;
  font-size: 1.2em;
}