<md-toolbar ng-if="isLoggedIn() && showTopNav" layout="column" layout-align="center start" layout-padding="50" class="page-head">
  <!-- <span flex=""></span> -->
  <div class="md-toolbar-tools">
    <sm-button ng-click="toggleLeftMenu()" class="md-primary" style="margin-right:1em;" hide-gt-sm>
      <i class="fa fa-bars" aria-hidden="true"></i>
    </sm-button>
    <h3>
      <span>{{pageHeadTitle}}</span>
    </h3>
    <span flex=""></span>
    <md-button class="md-icon-button page-sub-header-action-btn" aria-label="Favorite" ng-click="openCreateModal()">
      <i class="fa fa-plus" aria-hidden="true" style="font-weight:900;font-size:1.2em;"></i>
    </md-button>
    <md-button class="md-icon-button page-sub-header-action-btn" aria-label="More">
      <i class="fa fa-bell-o" aria-hidden="true" style="font-weight:900;font-size:1.2em;"></i>
      <md-tooltip md-autohide="true" md-direction="bottom" class="tooltip-md">
        Coming soon
      </md-tooltip>
    </md-button>
    <md-button class="md-icon-button page-sub-header-action-btn" aria-label="More" ng-click="logout()">
      <i class="fa fa-sign-out" aria-hidden="true" style="font-weight:900;font-size:1.2em;"></i>
    </md-button>
  </div>
</md-toolbar>