<div class="container-fluid">
  <div class="row">
    <!-- <div href="#" class="hidden-xs hidden-sm col-md-2 col-lg-2 lecture-modal-preview" style="padding:0;">
      <h4 ng-if="!lecture.tempPreview && !preview.loading && !lecture.tempPreview.err">
        <strong>Insert URL for preview</strong>
        <i style="display:block;margin-top:.4em;" class="fa fa-desktop fa-2x"></i>
      </h4>
      <h4 ng-if="preview.loading">
        <i style="display:block;margin-top:.4em;" class="fa fa-refresh fa-3x fa-spin text-warning"></i>
      </h4>
      <h4 ng-if="!preview.loading && lecture.tempPreview.err">
        <strong>Could not generate preview</strong>
        <i style="display:block;margin-top:.4em;" class="fa fa-frown-o fa-2x"></i>
      </h4>
      <img ng-if="lecture.tempPreview && !preview.loading" src="{{lecture.tempPreview}}" style="width:396px;height:396px;">
    </div> -->
    <!-- <div class="form-group col-xs-8 col-sm-6 col-md-3 col-lg-3 col-xs-offset-2 col-sm-offset-3 col-md-offset-0 col-lg-offset-0 pull-left">
      <img src="assets/images/placeholders/uniqa-qr.png" style="border:2px solid #343D48;border-radius:2px;width:100%;" alt="QR Example" class="img-responsive"/>
    </div> -->
    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-class="{ 'has-success': form.name.$valid && submitted,'has-error': form.name.$invalid && submitted }">
      <label>Title</label>
      <input type="text" name="name" class="form-control" ng-model="lecture.title" placeholder="My Lecture" autofocus="true" required mongoose-error>
      <p class="help-block" ng-show="form.name.$error.required && submitted">Lecture must have a name</p>
      <p class="help-block" name="titleVal" ng-show="form.name.$error.mongoose">{{ errors.name }}</p>
    </div>
    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" style="clear:left;" ng-class="{ 'has-success': form.createdBy.$valid && submitted,'has-error': form.createdBy.$invalid && submitted }">
      <label>Type</label>
      <div class="dropdown reg-dropdown">
        <button class="btn btn-inverse dropdown-toggle form-control" style="text-transform: capitalize;" name="type" ng-model="lecture.type" type="button" data-toggle="dropdown">{{lecture.type}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a ng-repeat="type in lectureTypes" ng-click="lectureTypeDropdownSel(type)" style="text-transform: capitalize;">{{type}}</a>
          </li>
        </ul>
      </div>
      <p class="help-block" ng-show="form.createdBy.$error.required && submitted">Something was not right there.</p>
      <p class="help-block" name="createdByVal" ng-show="form.createdBy.$error.mongoose">{{ errors.createdBy }}</p>
    </div>
    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-if="lecture.type == 'URL'" ng-class="{ 'has-success': form.createdBy.$valid && submitted,'has-error': form.createdBy.$invalid && submitted }">
      <label>URL</label>
      <div class="input-group input-group-md">
        <span class="input-group-addon" id="sizing-addon1">http://</span>
        <input type="text" class="form-control" placeholder="www.myslideshow.com" aria-describedby="sizing-addon1" ng-model="lecture.url" ng-blur="genPreview()" mongoose-error>
      </div>
      <p class="help-block" ng-show="form.createdBy.$error.required && submitted">Something was not right there.</p>
      <p class="help-block" name="createdByVal" ng-show="form.createdBy.$error.mongoose">{{ errors.createdBy }}</p>
    </div>
    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-class="{ 'has-success': form.desc.$valid && submitted,'has-error': form.desc.$invalid && submitted }">
      <label>Description</label>
      <textarea class="form-control" name="desc" rows="2" ng-model="lecture.desc" style="height:150px;min-width:100%;max-width:100%;resize: none;" placeholder="An interesting encounter with lecture presentations, looking into the ability to ask questions without interrupting the speakers flow." required mongoose-error></textarea>
      <p class="help-block" ng-show="form.desc.$error.required && submitted">Lecture must have a description</p>
      <p class="help-block" name="descVal" ng-show="form.desc.$error.mongoose">{{ errors.desc }}</p>
    </div>
    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:.8em;" ng-class="{ 'has-success': form.qActAllowance.$valid && submitted,'has-error': (form.qActAllowance.$invalid && submitted) || (form.qActAllowance < 0) || (form.qActAllowance > 60) }">
      <label>Collaborators</label>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="e.g. Brian Smith" ng-model="lecture.collaborator" typeahead="tutor as tutor.name for tutor in possibleCollaborators | filter:{name:$viewValue} | limitTo:10" typeahead-on-select="searchPossibleCollaborators($item)" ng-keyup="searchPossibleCollaborators($event)">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default" style="border-color:#cccccc;" ng-click="searchPossibleCollaborators('Submit')">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
      <div style="margin-top:.4em;">
        <h3 ng-repeat="user in selectedCollaborators" class="label label-warning" style="display:inline-block;font-size:.9em;margin:.2em .4em .2em 0;padding:.6em;">
          {{user.name}}
          <a style="color:#343D48;" href="#" ng-click="removeCollaborator(user)">
            <i class="fa fa-times" style="margin-left:.4em;"></i>
          </a>
        </h3>
      </div>
      <p class="help-block" ng-show="(form.qActAllowance.$error.minlength || form.qActAllowance.$error.required) && (form.qActAllowance < 0) || (form.qActAllowance > 60) && submitted">Must be between 0 and 60</p>
      <p class="help-block" ng-show="form.qActAllowance.$error.mongoose">{{ errors.qActAllowance }}</p>
    </div>
    <form>
      <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-class="{ 'has-success': form.qActAllowance.$valid && submitted,'has-error': (form.qActAllowance.$invalid && submitted) || (form.qActAllowance < 0) || (form.qActAllowance > 60) }">
        <label>Attachments
          <span style="color:#bbb;">(max: 10 files)</span>
        </label>
        <button action="/api/lectures/files/" autoprocessdz="'false'" dz-type="'lecture'" class="dropzone" drop-zone call-back="uploadSuccess(response)" name="lectureFiles" data-max="5" mimetypes="'.ppt, .html, .docx, .pdf, .xlsx, .txt, .zip, .jpg, .png'" id="csv-dropzone" style="width:100%;border:2px solid #8DB7D2;" multiple>
          <div class="dz-message" style="font-size:1.4em;color:#343D48;">Drop files here or click to upload.
            <br>
            <span class="note" style="font-size:.6em;">
              <strong>(Allowed file types: .ppt, .jpg, .png, .html, .docx, .pdf, .xlsx, .txt, .zip)</strong>
            </span>

          </div>
        </button>
      </div>
    </form>
  </div>
</div>