<div ng-include="'components/navbar/navbar.html'"></div>

<div class="page-sub-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-med-4 col-lg-2">
        <h1>{{title}}</h1>
      </div>
      <div class="col-sm-3 col-med-3 col-lg-3">
        <form id="search-form" class="form-inline" role="form" method="post">
          <div class="input-group">
            <input type="text" class="form-control search-form" placeholder="Search" ng-keyup="searchStrFilter($event)" ng-model="filter.searchStr">
            <span class="input-group-btn" style="position:relative;">
              <button type="submit" class="btn btn-primary search-btn" data-target="#search-form" name="q">
                <span style="" class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </form>
      </div>
      <div class="col-sm-4 col-med-4 col-lg-4 pull-right text-center">
        <div class="col-sm-4 col-med-4 col-lg-4 pull-right">
          <button type="button" class="btn btn-success dropdown-toggle page-sub-header-btn" ng-click="openCreateGroupModal()">Create Group</button>
        </div>
        <div class="sub-menu-divider-vertical pull-right"></div>
        <div class="col-sm-4 col-med-4 col-lg-4 pull-right">
          <h2>
            <span>{{count}}</span><br>
            System Group(s)
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" ng-repeat="group in groups">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 norm-marg" ng-class="{'foot-marg': $last && isEmpty(unassigned)}">
      <h3 class="" style="padding-left:4px;">{{group.course}}
        - (Level
        {{group.level}})
        <a href="#" ng-click="openUpdateGroupModal(group._id)" class="text-warning">
          <i class="fa fa-pencil fa"></i>
        </a>
        <a href="#" ng-click="openDeleteGroupModal(group._id)" class="trash">
          <i class="fa fa-trash pull-right"></i>
        </a>
      </h3>
      <hr class="resource-hr">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4 style="margin:0em 0 .4em;">Tutors</h4>
        <a href="#" class="col-xs-6 col-sm-4 col-md-3 col-lg-3 text-primary" ng-repeat="tutor in group.tutors">
          {{tutor.user.name}}
        </a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4 style="margin:1em 0 .4em;">Students</h4>
        <a class="col-xs-6 col-sm-4 col-md-3 col-lg-3 group-user" style="color:#343D48" ng-repeat="student in group.students">
          {{student.user.name}}
        </a>
      </div>
    </div>
  </div>
  <div class="row" ng-if="!isEmpty(unassigned)">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 foot-marg">
      <h3 class="text-primary" style="padding-left:4px;">Unassigned User Pool
      </h3>
      <hr class="resource-hr">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4 style="margin:0em 0 .4em;" ng-if="!isEmpty(unassigned.tutors)">Tutors</h4>
        <a href="#" class="col-xs-6 col-sm-4 col-md-3 col-lg-3 text-primary" ng-repeat="tutor in unassigned.tutors">
          {{tutor.user.name}}
        </a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4 style="margin:1em 0 .4em;" ng-if="">!isEmpty(unassigned.tutors)</h4>
        <a class="col-xs-6 col-sm-4 col-md-3 col-lg-3 group-user" style="color:#343D48" ng-repeat="student in unassigned.students">
          {{student.user.name}}
        </a>
      </div>
    </div>
  </div>
</div>
<!-- FOOTER -->
<div ng-include="'components/footer/footer.html'"></div>
<!-- /FOOTER -->