<div class="form-group" ng-class="{ 'has-success': form.id.$valid && submitted,'has-error': form.id.$invalid && submitted }">
  <label>Module Code</label>
  <input type="text" name="code" class="form-control" placeholder="e.g. 55-5533-00L" ng-model="module.code" required/>
  <p class="help-block" ng-show="form.id.$error.required && submitted">Module ID is required</p>
  <p class="help-block" ng-show="moduleAlreadyExists && submitted">
    A module with this code already exists
  </p>
</div>
<div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,'has-error': form.name.$invalid && submitted }">
  <label>Module Name</label>
  <input type="text" name="name" class="form-control" placeholder="e.g. Application Development" ng-model="module.name" required/>
  <p class="help-block" ng-show="form.name.$error.required && submitted">Module Name is required</p>
</div>
<div class="form-group">
  <label>Module Tutors</label>
  <md-chips ng-model="selectedVegetables" md-autocomplete-snap md-transform-chip="transformChip($chip)" md-require-match="autocompleteDemoRequireMatch">
    <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in querySearch(searchText)" md-item-text="item.name" placeholder="Search for a vegetable">
      <span md-highlight-text="searchText">{{item.name}}
        ::
        {{item.type}}</span>
    </md-autocomplete>
    <md-chip-template>
      <span>
        <strong>{{$chip.name}}</strong>
        <em>({{$chip.type}})</em>
      </span>
    </md-chip-template>
  </md-chips>

  <!-- <div class="input-group">
    <input type="text" name="tutor" class="form-control" typeahead="tutor as tutor.fullName for tutor in possibleTutors | filter:{fullName:$viewValue} | limitTo:14" typeahead-on-select="searchPossibleTutors($item)" ng-change="searchPossibleTutors($event)" ng-keyup="checkForSubmit($event)" ng-model="module.tutor" required/>
    <div class="input-group-btn">
      <button type="button" class="btn btn-default" style="border-color:#cccccc;" ng-click="checkForSubmit('Submit')" ng-disabled="_.isEmpty(possibleTutors)">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div> -->
</div>
<div style="margin:0 0 1em;">
  <h3 ng-repeat="user in selectedTutors" class="label" ng-class="{'label-primary': user.currentUser, 'label-warning' : !user.currentUser} " style="display:inline-block;font-size:.9em;margin:.2em .4em .2em 0;padding:.6em;">
    {{user.name}}
    <a ng-if="user.currentUser" style="color:#343D48;font-size:.8em;line-height:1.2;cursor:default;text-decoration:none;">You</a>
    <a ng-if="!user.currentUser" style="color:#343D48;" href="#" ng-click="removeTutor(user)">
      <i class="fa fa-times" style="margin-left:.4em;"></i>
    </a>
  </h3>
</div>
<!-- <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,'has-error': form.name.$invalid && submitted }">
  <h5>Students
    <span class="pull-right" style="color:#BBBBBB;">Unsure of the CSV structure?
      <a href="#">Check the docs</a>
    </span>
  </h5>
  <div id="table" class="table-editable">
    <table class="table csv-dropzone" url="'/api/modules/users/import'" autoprocessdz="'true'" no-file-display="'true'" dz-type="'csvImport'" class="dropzone" drop-zone call-back="showCsvData(response)" name="csvUserData" data-max="5" mimetypes="'.csv, .txt'" id="csv-dropzone" style="overflow:visible;">
      <thead>
        <th style="width:18%;">ID</th>
        <th style="width:38%;">Forename</th>
        <th style="width:38%;">Surname</th>
        <th></th>
      </thead>
      <tr class="csv-dropzone-row" ng-repeat="user in importUsers">
        <td style="width:18%;" class="csv-dropzone-cell" ng-focus="dissolveIfPlaceholder(user, user.placeholder)" contenteditable="true" ng-class="{'csv-dropzone-placeholder' : user.placeholder}" ng-model="user.user"></td>
        <td style="width:38%;" class="csv-dropzone-cell" ng-focus="dissolveIfPlaceholder(user, user.placeholder)" contenteditable="true" ng-class="{'csv-dropzone-placeholder' : user.placeholder}" ng-model="user.forename"></td>
        <td style="width:38%;" class="csv-dropzone-cell" ng-focus="dissolveIfPlaceholder(user, user.placeholder)" contenteditable="true" ng-class="{'csv-dropzone-placeholder' : user.placeholder}" ng-model="user.surname"></td>
        <td style="text-align:right;">
          <span ng-if="!user.placeholder" class="table-remove glyphicon glyphicon-trash trash" style="font-size:1em;" ng-click="deleteModuleTableRow(user.user)"></span>
        </td>
      </tr>
    </table>
    <h4 class="pull-right" style="font-family:'Rock Salt';color:#AAA;position:relative;padding-left:2em;">Drop csv files
      <img src="/assets/images/curved-arrow.png" style="width:40px;position:absolute;top:-1em;left:-.4em;"/>
    </h4>
  </div>
  <button class="btn btn-default" ng-click="addRowToModuleTable()">
    Add User</button>
</div> -->