// Dates / years
.md-calendar tbody,
.md-calendar td,
.md-calendar tr {
  color: black;
}
.md-calendar-date.md-calendar-date-disabled {
  color: #CCC;
}
.md-calendar-day-header {
  color: white;
  background-color: #414C5A;
}
.md-calendar-selected-date {
  .md-calendar-date-selection-indicator {
    color: white;
    background-color: #82AECC !important;
  }
}
.md-datepicker-expand-triangle {
  top: 40%;
}
.md-icon-button + .md-datepicker-input-container {
  padding-bottom: 2px;
}