.tooltip {
  // opacity: 0.9 !important; // can't override due to animation
}
.tooltip-arrow {
  border-top-color: #8DB7D2 !important;
}
.tooltip-inner.ng-binding {
  background-color: #8DB7D2 !important;
  color: #343D48;
  font-size: 1.2em;
  padding: 4px 8px;
}