<div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,'has-error': form.name.$invalid && submitted }">
  <label>Course Name</label>
  <input type="text" name="name" class="form-control" ng-model="user.name" required/>
  <p class="help-block" ng-show="form.name.$error.required && submitted">A name is required</p>
</div>
<div class="form-group" ng-class="{ 'has-success': user.role!='Select Role' && submitted,'has-error': user.role=='Select Role' && submitted }">
  <label>Level</label>
  <div class="dropdown reg-dropdown">
    <button class="btn btn-inverse dropdown-toggle form-control" style="text-transform: capitalize;" name="type" ng-model="year" type="button" data-toggle="dropdown">{{user.role}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a ng-repeat="level in groupLevels" ng-click="groupLevelDropdownSel()" style="text-transform: capitalize;">{{level}}</a>
      </li>
    </ul>
  </div>
  <p class="help-block" ng-show="user.role=='Select Role' && submitted">Please select a user type</p>
  <p class="help-block" ng-show="form.roles.$error.mongoose">{{ errors.roles }}</p>
</div>
<div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,'has-error': form.email.$invalid && submitted }">
  <label>Add tutors</label>
  <div class="input-group">
    <input type="text" name="email" class="form-control" aria-describedby="basic-addon2" ng-model="user.email" required mongoose-error>
    <div class="input-group-btn">
      <button type="button" class="btn btn-default" style="border-color:#cccccc;">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
  <p class="help-block" ng-show="form.email.$error.email && submitted">Email address provided does not match the department format</p>
  <p class="help-block" ng-show="form.email.$error.required && submitted">Please enter your email address</p>
  <p class="help-block" name="emailVal" ng-show="form.email.$error.mongoose">{{ errors.email }}</p>
</div>
<div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,'has-error': form.email.$invalid && submitted }">
  <label>Add unallocated students</label>
  <div class="input-group">
    <input type="text" name="email" class="form-control" aria-describedby="basic-addon2" ng-model="user.email" required mongoose-error>
    <div class="input-group-btn">
      <button type="button" class="btn btn-default" style="border-color:#cccccc;">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
  <p class="help-block" ng-show="form.email.$error.email && submitted">Email address provided does not match the department format</p>
  <p class="help-block" ng-show="form.email.$error.required && submitted">Please enter your email address</p>
  <p class="help-block" name="emailVal" ng-show="form.email.$error.mongoose">{{ errors.email }}</p>
</div>